#card-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.player-card {
    border: solid 4px #022601;
    max-height: fit-content;
    width: 25vw;
    border-radius: 2em;
    /* background-color: orange; */
    /* background-color: #F2E422; */
    backdrop-filter: blur(5px);
    /* text-align: left; */
    padding-bottom: 0.5em;
}

.card-image {
height: 50%;
width: 70%;
border-radius: 1em;
margin: 0.5em 0;
border: solid 4px #022601;
object-fit: cover;
}

.card-season {
    text-align: left;
    margin: 0.5em 0 0 1em;
    color: #dc2626;
    font-size: 1.2em;
    font-weight: bold;
}

.card-info {
    margin: 0 15%;
    padding: 0.2em;
    /* border: #022601 1px solid; */
    /* border-radius: 1em; */
    height: 35%;
    /* background-color: #c7bb16; */
    text-align: left;
    color: #dc2626;
    font-size: 1.2em;
    font-weight: bold;
    /* -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: rgb(15, 14, 14); */
}